@font-face {
  font-family: "My-r";
  src: url(fonts/Segoe_UI.woff) format("woff");
}

@font-face {
  font-family: "My-b";
  src: url(fonts/Segoe_UI_Bold.woff) format("woff");
}

@font-face {
  font-family: "My-l";
  src: url(fonts/segoeuil.ttf);
}

.padding-15 {
  padding: 15px;
}

.container {
  max-width: 1200px;
  margin: auto;
  min-width: 360px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  box-shadow: 0px 3px 6px #00000015;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.h-154 {
  height: 154px;
}

.main-head__title {
  text-align: center;
  font-size: 40px;
  font-family: My-l;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
}

.black {
  font-family: "My-b";
  color: #000000;
}

.h-40 {
  height: 40px;
}

.main-head__subtitle {
  font-family: "My-l";
  /* UI Properties */
  text-align: center;
  font-size: 28px;
  letter-spacing: 0px;
  color: #000000;
}

/* //форма поиска */
.search {
  border: 2px solid rgb(0, 0, 0);
  font-size: 20px;
  padding: 0;
}
[type="search"] {
  border: none;
  outline: none;
  width: 100%;
}
.fas.fa-search {
  color: rgb(0, 0, 0);
}



.item__image {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

.item {
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  margin-top: 20px;
}

/* content */
.content {
  padding-left: 0;
  padding-right: 0;
}
.description {
  padding: 19px;
}
.description__article-title {
  text-align: left;
  font-family: My-r;
  font-size: 20px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.description__text {
  font-family: My-l;
  font-size: 16px;

  text-align: left;
  /* обрезание строки  */
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.description__writer-name {
  text-align: left;
  font-family: My-r;
  font-size: 16px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.description__company {
  text-align: left;
  font-family: My-l;
  font: size 16px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.6;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#all-article {
  white-space: nowrap;
}

.pl-0 {
  padding-left: 0;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

.navbar-toggler-icon {
  display: none;
}

.hide {
  display: none;
}

.pagination-button {
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-family: My-b;
  font-size: 16px;
  color: #000000;
  opacity: 0.6;
  padding: 0 25px;
}

#pag-buttons div:hover, a:hover {
  opacity: 1;

}

.active {
  color: #000000;
}

.footer {
  background-color: black;
  height: 80px;
  width: 100%;
  margin: auto;
}

.no-padding {
  padding: 0;
}

.navbar a:hover{
  text-shadow: 0px 1px #000000
}
.navbar-brand {
  font-size: 20px;
  font-family: My-r;
  letter-spacing: 0px;
  color: #707070;
}

.nav-li {
  font-family: My-l;
  font-size: 16px;
  color: #000000;
  padding: 0;
}

.nav-active {
  font-family: My-b;
  border-bottom: 3px solid #000000;
  font-weight: bold;
}

.navbar-nav a {
  padding: 23px 0;
}

#search-svg {
  width: 16px;
  height: 16px;
}

#profile-svg {
  width: 24px;
}

a:visited {
  text-decoration: none;
}

#mySearch {
  height: 60px;
  font-size: 24px;
  font-family: My-r;
  color: #000000;
}

.padding-20 {
  padding: 0 20px;
}

.search__icon {
  position: absolute;
  width: 16px;
  right: 22px;
  top: 37.5%;
}

.years-container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.years-container a:hover {
  text-decoration: underline;
  opacity: 1;
}

.year {
  color: #000000;
  font-family: My-l;
  opacity: 0.6;
}

#allArticle {
  white-space: nowrap;
  font-family: My-r;
  font-size: 20px;
}

.item-overlay {
  padding: 26 20 20 20;
}

.footer__content {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  align-items: center;
}
.footer__content a:hover, img:hover{
text-decoration: underline;
color: white;
} 

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.footer__content img:hover {
  animation: bounce 1s;
}
.footer-link {
  color: white;
  font-family: My-b;
  text-transform: uppercase;
  font-size: 16px;
}


.img-svg {
  width: 31px;
}

#linkedin {
  width: 26px;
}

#first {
  text-align: right;
  padding-left: 0;
  white-space: nowrap;
}
#last {
  white-space: nowrap;
  padding-right: 0;
}

.active-pagination {
  color: #000000;
  text-decoration: underline;
  opacity: 1;
}

.filter{
  display: none;
}

.item:hover {
  box-shadow: 0px 3px 6px #00000079;
}


.hide-result {
  visibility: hidden;
  position: absolute;
}
.show {
  visibility: visible;
}

.active-article {
  color: black;
  text-decoration: underline;
  opacity: 1;
}
















@media (max-width: 575.98px) {
  .years-mobile-menu {
    justify-content: center;
    
  }

  .filter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .overlay-listyear{
    /* display: none; */
  }


  .list-of-years{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    left:50%; 
    margin-left:-10%;
    top:25px;
    z-index: 1;


  }

  #showfilter:hover .overlay-listyear {
    display: block;

}




}
