@font-face {
  font-family: "My-r";
  src: url(/fonts/Segoe\ UI.woff) format("woff");
}

@font-face {
  font-family: "My-b";
  src: url(/fonts/Segoe\ UI\ Bold.woff) format("woff");
}

@font-face {
  font-family: "My-l"; /* Гарнитура шрифта */
  src: url(fonts/segoeuil.ttf); /* Для остальных браузеров */
}

.padding-15 {
  padding: 15px;
}

.container {
  max-width: 1200px;
  margin: auto;
  min-width: 360px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #00000029;
}

header {
  box-shadow: 0px 3px 6px #00000015;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.w-184 {
  height: 154px;
}

.main-head__title {
  text-align: center;
  font: normal normal 300 40px/48px Segoe UI;
  letter-spacing: 0px;
  color: grey;
  opacity: 1;
}

.black {
  font-family: "Segoe UI Bold";
  color: #000000;
}

.w-40 {
  height: 40px;
}

.main-head__subtitle {
  font-family: "Segoe UI Bold Italic";
  /* UI Properties */
  text-align: center;
  font: normal normal 300 28px/34px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

/* //форма поиска */
.search {
  border: 2px solid rgb(0, 0, 0);
  font-size: 20px;
  padding: 0;
}
[type="search"] {
  border: none;
  outline: none;
  width: 100%;
}
.fas.fa-search {
  color: rgb(0, 0, 0);
}

.active-article a {
  color: black;
}

.item__image {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

.item {
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  margin-top: 20px;
}

/* content */
.content {
  padding-left: 0;
  padding-right: 0;
}
.description {
  padding: 20px;
}
.description__article-title {
  text-align: left;
  font: normal normal normal 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 5px;
}
.description__text {
  text-align: left;
  margin-bottom: 5px;
  /* обрезание строки  */
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.description__writer-name {
  text-align: left;
  font: normal normal normal 16px/21px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 5px;
}
.description__company {
  text-align: left;
  font: normal normal 300 16px/21px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.6;
  margin-bottom: 5px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#all-article {
  white-space: nowrap;
}

.pl-0 {
  padding-left: 0;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

.navbar-toggler-icon {
  display: none;
}

.hide {
  display: none;
}

.pagination-button {
  text-align: center;
  align-items: center;
  cursor: pointer;
  color: #6d6d6d;
}

.active {
  color: #000000;
}

.footer {
  background-color: black;
  height: 80px;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
}

.no-padding {
  padding: 0;
}

.navbar-brand {
  font-size: 20px;
  font-family: My-r;
  letter-spacing: 0px;
  color: #707070;
}

.nav-li {
  font-family: My-l;
  font-size: 16px;
  color: #000000;
  padding: 0;
}

.nav-active {
  font-family: My-b;
  border-bottom: 3px solid #000000;
  font-weight: bold;
  
}

.nav-item {
}

.navbar-nav a{
padding: 22px 0 ;
}

#search-svg{
    width: 16px;
    height: 16px;
}

#profile-svg {
    width: 24px;

}

a:visited {
    text-decoration: none;
}

#allArticle {
    white-space: nowrap;
}
