body {
  background-color: #272727;
}

.wrapper {
  display: flex;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.wrapper__main {
  flex: 1 1 auto;
  border: 5px solid white;
}

#wrapper__list {
  height: 1085px;
  overflow-y: scroll;
  flex: 0 0 713px;
  border: 5px solid white;
  border-left: 0px solid white;
  display: flex;
  flex-direction: column;
}

.wrapper__list__item__img {
  width: 100%;
  height: 100%;
}

.wrapper__list__item {
  border-bottom: 5px solid white;
}

#big-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
